
$darken-amount: 25%;
$font-size: 14;
$font-size-px: calc($font-size * 1px);
$main-background-color: #141414;
$main-font-color: #FFFFFF;
$main-border-color: #323232;
$border: 1px solid $main-border-color;
$red-color: #DB3138;
$transition-delay: 200ms;