
.advantages-left {
  display: flex;
  justify-content: space-between;
}

.advantages {
  display: flex;
  flex-direction: column;
  width: 21.916666667rem;

  &__item {
    margin-bottom: 1.666666667rem;
  }

  &__icon {
    width: 2.916666667rem;
    margin-right: 1.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }

  &__title {
    font-family: 'ReformaGroteskDemiC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.333333333rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

