
@import "../styles/index";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 1.666666667em;

    @include link();

    &:last-child {
      margin-right: 0;
    }
  }
}