
@import "../../styles/index";

.button {
  --button-background-color: #{$red-color};
  position: relative;
  z-index: 0;
  font-family: 'ReformaGroteskDemiC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  transition: $transition-delay linear;
  color: white;
  background: none;
  border: none;


  &:after {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 4.583333333em;
    height: 2.541666667em;
    background-color: var(--button-background-color);

    transform: translate(-20%, -75%);

  }
  &:hover {
    text-decoration: underline;
    --button-background-color: #{darken($red-color, $darken-amount)};
  }
}