
@import "../../styles/index";

.button {
  --button-background-width: 4.583333333em;
  --button-background-color: #{$red-color};
  position: relative;
  z-index: 0;
  font-family: 'ReformaGroteskDemiC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  color: white;
  background: none;
  border: none;

  &:after {
    transition: $transition-delay linear;
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: var(--button-background-width);
    height: 2.541666667em;
    background-color: var(--button-background-color);

    transform: translate(-20%, -75%);

  }
  &:hover {
    --button-background-width: 8.214285714em;
    --button-background-color: #{darken($red-color, $darken-amount)};
  }
}