
@import "../../styles/index";

.dots {
  display: flex;
  margin-bottom: 1.708333333em;

  &__dot {
    width: 0.416666667em;
    height: 0.416666667em;

    margin-right: 1.25em;

    background-color: $red-color;

    transform: rotateZ(45deg);

    &:last-child {
      margin-right: 0;
    }
  }
}