
@import "../../styles/index";

.slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.083333333rem;
  height: 2.083333333rem;
  border: 0.125rem solid $red-color;
  background: none;

  &__background {
    width: 0.5rem;
    height: 0.875rem;
    transform: rotateZ(45deg);
  }
}